{% extends 'base.html' %}
{% load money %}
{% load bootstrap %}

{% block title %}NOVO CONTRATO{% endblock %}

    {% block main %}
    <div class="row">
        <div class="col-sm">

        </div>

        <div class="col-sm">
            <h1> MODULO NOVO CONTRATO  </h1>
            <form method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                {{form | bootstrap}}
                <a><button type="submit" class="btn btn-primary" >SALVAR</button></a>
                <a href="{% url 'home' %}" class="btn btn-primary"">HOME</a>
                <a href="{% url 'person_list' %}" class="btn btn-primary"">RETORNA PARA LISTAGEM</a>

            </form>


        </div>

        <div class="col-sm">

        </div>
    </div>
    {% endblock %}