{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} BLOG LIST {% endblock %}
    {% block main %}
    <div class="row">

          <div class="col-sm">
              <h1> MODULO BLOG LIST </h1>

          {% for post in posts %}
            <a href="{{post.get_absolute_url}}">
                {{post.title}}
            </a>

                <p class="date">
                    Published{{post.publish}} by {{post.author}}
                </p>
               {{post.body|truncatewords:30 | linebreaks}}
          {% endfor %}
          </div>
    </div>
              <h1> FIM LISTa </h1>
    {% endblock %}



