{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}HOME{% endblock %}


    {% block main %}
    <div class="row">
        <h1> MODULO HOME </h1>
    </div>

        <div class="col-sm">
            <h2> OPÇÕES </h2>
            <ul>
                <a href="{% url 'home' %}" class="btn btn-primary"> DASHBOARD DE PROJETOS</a>
            </ul>
            <ul>
                <a href="{% url 'teste' %}" class="btn btn-primary"> CURRICULO</a>
            </ul>

        </div>

        <div class="col-sm">
        </div>

    </div>
    {% endblock %}



