{% extends 'main_template.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}CRIA PRODUTO{% endblock %}

  {% block content %}
    <div class="row">
        <div class="col-sm">

        </div>

        <div class="col-sm">
            <h1> NOVO PRODUTO  </h1>
            <form method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                {{form | bootstrap}}
                <a><button type="submit" class="btn btn-primary" >SALVAR</button></a>
                <a href="{% url 'dashboard' %}" class="btn btn-primary"">HOME</a>

            </form>


        </div>

        <div class="col-sm">

        </div>
    </div>
  {% endblock %}