




<style>

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: gray;
    border: 1px solid rgba(0,0,0,.125);
}
 </style>



    <div class="row">
        <div class="col-sm">
                <h1> MODULO LISTA </h1>

            <table>
                <thead>
                <tr>
                    <th>LISTA CUSTOMER</th>
                </tr>
                </thead>
            </table>

             <ul class="list-group">

                    {% for customer in customer %}
                        <li class="list-group-item">
                            <tr>
                                <td>{{customer.name}}</td>
                                <td>{{customer.phone}}</td>

                            </tr>
                        </li>
                    {% endfor %}
             </ul>
            <br>
                <a href="{% url 'home' %}" class="btn btn-primary">HOME</a>
        </div>


    </div>
