{% extends 'base.html' %}
{% load static %}
{% block main %}

<br>

<div class="row">
    <div class="col">
    <div class="col-md">
        <div class="card card-body">
            <h5>Customer:</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                </tr>

                {% for customer in customers %}
                <tr style="vertical-align: middle;">
                    <td style="vertical-align: middle;">{{customer.name}}</td>
                    <td style="vertical-align: middle;">{{customer.email}}</td>
                    <td style="vertical-align: middle;">{{customer.phone}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
</div>

{% endblock %}