{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
{% block main %}
body{
    background-color: white;
    color: black;

}
 </style>
    <h1> Módulo Deletar </h1>

    <h1> Tem certeza que deseja deletar "{{order.id}}"? </h1>
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        {{form}}
        <br>
        <button type="submit" class="btn btn-danger" >DELETAR</button>
        <br>
        <a href="{% url 'dashboard' %}"class="btn btn-primary">RETORNA </a>
    </form>
{% endblock %}

