<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <link rel="stylesheet" href="style.css">
  <title>Curriculo</title>
</head>
<style>

		*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		list-style: none;
		text-decoration: none;
	}

	nav{
		background-color: salmon;
	}

	.container{
		padding: 15px 0;
		background-color: #fdcb9e;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1140px;
		margin: 0 auto;
	}

	.logo-block{
		border:1px solid gold;
	}

	.logo-block-link{
		display: flex;
		border:1px solid black;
	}

	.logo{
		width: 50px;
		height: 50px;
	}

	.nav-list{
		flex:1;
		display: flex;
		justify-content: space-between;
	}

	.logo-tittle{
		font-size:20px;
		color:#3f3f44;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-family: monospace;
		margin-left: 10px;
	}

	.nav-list li a{
		font-size:16px;
		color:#3f3f44;
		font-family: monospace;
	}
</style>

<body>
  <nav>
    <div class="container">
      <div style="flex: 1;">
        <div class="logo-block" style="float: left;">
          <a href="#" class="logo-block-link">
            <img src="https://www.gravatar.com/avatar/7d821e531f911facf0f644c1e708dd99?s=32&d=identicon&r=PG" alt="" class="logo">
          </a>
        </div>
        <div style="float: left;">
          <a href="#">
            <h3 class="logo-tittle">Company</h3>
          </a>
        </div>
        <div style="clear: both;"></div>
      </div>
      <ul class="nav-list">
        <li><a href="">About</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">Team</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
  </nav>



  <!-- Main Section -->
  <main class="profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <!--img class="avatar avatar--xl" src="https://avatars.githubusercontent.com/u/33843378" /-->
              <h2 class="dev__name">Ermelino Piazzetta</h2>
              <p class="dev__title">Developer</p>
              <p class="dev__location">Campinas, São Paulo, Brasil</p>
              <ul class="dev__social">

                <li>
                  <a title="LinkedIn" href="https://www.linkedin.com/in/ermelinopiazzetta" target="_blank"><i class="im im-linkedin"></i></a>
                </li>
              </ul>
              <!--a href="#" class="btn btn--sub btn--lg">Send Message </a-->
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">Sobre</h3>
            <p class="devInfo__about">
              Experiencia em atendimento, levantamento de necessidades e suporte técnico aos clientes primeiro e segundo niveis em
              software e infraestrutura (rede de dados, telecomunicações e internet) nas demandas de Tecnologia da
              Informação. Análise de requisitos para a prestação de serviços e levantamento de necessidades técnicas
              junto aos usuários para apresentação de propostas de soluções técnicas. Experiência usando análise para
              entender o comportamento dos clientes e identificar oportunidades. Experiência com um pacote Python,
              Jupyter para análises de Data Science e capacidade em traduzir questões e estratégias de negócios em
              análises práticas executadas dentro do prazo e dentro do orçamento e visão para transformar os fluxos de
              dados em uma visão e entendimento dos clientes com oportunidades de causar um impacto positivo sem
              impacto financeiro. Elaboração, supervisão e gerenciamento de contratos firmados quanto ao prazo, custos e
              escopo definidos. Acompanhamento dos contratos (técnico/físico/financeiro) para desenvolvimento e
              implantação das soluções. Experiência em metodologias ágeis (Agile Scrum). Acompanhamento pós
              implantação das soluções dos tickets abertos na Central de Serviço e o encerramento das solicitações para a
              verificação do nível de satisfação dos clientes, com a elaboração de pesquisas periódicas para acompanhar a
              qualidade do atendimento prestado.
            </p>
          </div>
          <div class="devInfo">
            <h3 class="devInfo__title">Skills</h3>
            <div class="devInfo__skills">
              <div class="devSkill">
                <h4 class="devSkill__title">Ruby on Rails</h4>
                <p class="devSkill__info">
                  Experiência em desenvolvimento utilizando o framework.
                </p>
              </div>
              <div class="devSkill">
                <h4 class="devSkill__title">ReactJS</h4>
                <p class="devSkill__info">
                  Smet consectetur adipisicing elit. Omnis, nihil? Accusamus aspernatur aut debitis vitae quaerat
                  nihil fugiat, doloremque nesciunt alias pariatur maxime unde, nam saepe laborum at odit labore.
                </p>
              </div>
              <div class="devSkill">
                <h4 class="devSkill__title">Git</h4>
                <p class="devSkill__info">
                  Auae error deleniti aperiam enim nisi nesciunt, ratione eveniet eos fuga ad recusandae mollitia!
                  Facere earum, distinctio nihil recusandae ipsum nesciunt. Possimus, ex. Officia maxime nihil
                  inventore cum tenetur! Veritatis sapiente libero ducimus nesciunt itaque, placeat inventore sint
                  blanditiis?
                </p>
              </div>

              <h3 class="devInfo__subtitle">Other Skills</h3>
              <div class="devInfo__otherSkills">
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>Figma</small>
                </span>
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>Sublime</small>
                </span>
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>REST API</small>
                </span>
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>Postgres</small>
                </span>
              </div>
            </div>
          </div>
          <div class="devInfo">
            <h3 class="devInfo__title">Projetos</h3>
            <div class="grid grid--two">

              <div class="column">
                <div class="card project">
                  <a href="single-project.html" class="project">

                    <div class="card__body">
                      <h3 class="project__title">Controle de Recebiveis</h3>
                      <p><a class="project__author" href="profile.html">Por Ermelino</a></p>

                      <div class="project__tags">
                        <span class="tag tag--pill tag--main">
                          <small>Rails</small>
                        </span>
                        <span class="tag tag--pill tag--main">
                          <small>Sublime</small>
                        </span>
                        <span class="tag tag--pill tag--main">
                          <small>Postgresql</small>
                        </span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>

              <div class="column">
                <div class="card project">
                  <a href="single-project.html" class="project">

                    <div class="card__body">
                      <h3 class="project__title">Solicitações e andamento projetos</h3>
                      <p><a class="project__author" href="profile.html">Por Ermelino</a></p>
                      <div class="project__tags">
                        <span class="tag tag--pill tag--main">
                          <small>Django</small>
                        </span>
                        <span class="tag tag--pill tag--main">
                          <small>Postgresql</small>
                        </span>
                        <span class="tag tag--pill tag--main">
                          <small>PyCharm</small>
                        </span>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
