#logo{
	}

	body{
		background-color: #ebeff5;
	}


	#total-orders{
		background-color: #4cb4c7;
	}


	#orders-delivered{
		background-color: #7abecc;
	}

	#orders-pending{
		background-color: #7CD1C0;
	}
	footer{
        background:#4cb4c7 ;
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        }