main {
    margin-bottom: 30rem;
}

footer {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #C3c;
    color: white;
}

.row {
    height: 70vh;
    padding-bottom: 5rem;
    color: red;
}

.fa-trash-alt {
    float: right;
}