{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<h1 class="home">CONTROLE DE SERVIÇOS</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Contrato</th>
      <th>Número do chamado</th>
      <th>GSC</th>
      <th>Número_SEI</th>
      <th>Solicitação</th>
      <th>Palavra_chave</th>
      <th>Secretaria</th>
      <th>Data_da_Solicitação</th>
      <th>Responsável_PMC</th>
      <th>Status_Financeiro</th>
      <th>Status_Técnico</th>
      <th>Status_Acompanhamento</th>
      <th>Responsável_Área_Executora_IMA</th>
      <th>Responsável_Suporte_a_Negócios</th>
      <th>Valor_Proposta</th>
      <th>Valor_Mensal</th>
      <th>Data_envio_email</th>
      <th>Data_Aprovação_Secretaria</th>
      <th>Observação</th>
      <th>Resumo_Faturamento</th>
      <th>Reunião_Departamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <h1> Olá Python </h1>
  </tbody>
</table>

<br>

</html>

